# 忽略所有 __pycache__ 文件夹
__pycache__/

# 忽略 Python 编译文件
*.pyc
*.pyo

# 忽略虚拟环境
.venv/

# 忽略数据库文件
workshop.db

# 忽略uv.lock
uv.lock

# 忽略博客上传的图片
app/static/blog

# 忽略打包文件
blog.tar.gz

.python-version

.idea/