{% extends "layout/base.html" %}

{% block scripts %}
{{ ckeditor.load() }}
{{ ckeditor.config(name='content') }}
{{ ckeditor.load_code_theme() }}
{% endblock %}


{% block title %}

{% if post %}
修改文章《{{ post.title }}》
{% else %}
新建文章
{% endif %}

{% endblock %}

{% block content %}
{% from 'bootstrap5/form.html' import render_field %}


{% if post %}
<form method="post" action="{{ url_for('admin.blog_edit',post_id = post.id) }}">
    {{ form.csrf_token() }}
    {{ render_field(form.title) }}
    {{ render_field(form.summary) }}
    {{ render_field(form.content) }}
    {{ render_field(form.tags) }}
    {{ render_field(form.archives) }}
    {{ render_field(form.is_top) }}
    {{ render_field(form.submit) }}
</form>
{% else%}
<form method="post" action="{{ url_for('admin.blog_create') }}">
    {{ form.csrf_token() }}
    {{ render_field(form.title) }}
    {{ render_field(form.summary) }}
    {{ render_field(form.content) }}
    {{ render_field(form.tags) }}
    {{ render_field(form.archives) }}
    {{ render_field(form.is_top) }}
    {{ render_field(form.submit) }}
</form>
{% endif %}

{% endblock %}