{% extends "layout/base.html" %}

{% block title %}我的博客{% endblock %}

{% block head %}
{{ moment.include_moment() }}
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="d-grid gap-2">
            <a class="btn btn-primary btn-lg" role="button" href="{{ url_for('admin.blog_create')}}">➕新建文章</a>
            <a class="btn btn-info btn-lg" role="button" href="{{ url_for('admin.blog_archive')}}">🚀导出文章</a>
        </div>
    </div>
</div>
<!--遍历所有帖子-->
<div class="row mt-5">
    {% for post in posts %}
    <div class="col-md-4 col-lg-3 col-sm-6 mb-4">
        <div class="card">
            {% if post.cover %}
            <img src="{{ post.cover }}" class="card-img-top" alt="{{ post.title }}">
            {% else %}
            <img src="" class="card-img-top" alt="{{ post.title }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">作者：{{ post.author.username }}</h6>
                <p class="card-text">{{ post.summary }}</p>
                <p class="card-text">
                    <small class="text-muted">更新于 {{ moment(post.updated_at, local = True).format('YYYY年MM月DD日
                        hh:mm:ss')
                        }}</small>
                </p>
                <p class="card-text">
                    <small class="text-muted">创建于 {{ moment(post.created_at, local = True).format('YYYY年MM月DD日
                        hh:mm:ss') }}</small>
                </p>
                <p class="card-text">
                    <small class="text-muted">是否置顶: {{ post.is_top }}</small>
                </p>
                <p class="card-text">
                    <small class="text-muted">标签: {{ post.tags }}</small>
                </p>
                <p class="card-text">
                    <small class="text-muted">存档: {{ post.archives }}</small>
                </p>
            </div>
            <div class="card-body">
                <!--至中显示-->
                <div class="d-flex justify-content-center">
                    <a href="{{url_for('admin.blog_view',post_id=post.id)}}" target="_blank"
                        class="btn btn-light me-1">预览</a>
                    <a href="{{url_for('admin.blog_edit',post_id=post.id)}}" target="_blank"
                        class="btn btn-primary me-1">编辑</a>
                    <a href="#" class="btn btn-info me-1" data-bs-toggle="modal"
                        data-bs-target="#cover-modal-{{post.id}}">封面</a>
                    <a href="#" class="btn btn-warning me-1">背景</a>
                    <a href="{{url_for('admin.blog_delete',post_id=post.id)}}" class="btn btn-danger">删除</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!--分页-->
<div class="d-flex justify-content-center">
    <nav aria-label="page-navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="{{url_for('admin.blog_index', page = 1)}}" aria-label="First">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% if prev_page %}
            <li class="page-item"><a class="page-link"
                    href="{{url_for('admin.blog_index', page = prev_page)}}">{{prev_page}}</a></li>
            {% endif %}
            <li class="page-item active">
                <a class="page-link" href="{{url_for('admin.blog_index', page = current_page)}}"
                    aria-current="page">{{current_page}}</a>
            </li>
            {% if next_page %}
            <li class="page-item"><a class="page-link"
                    href="{{url_for('admin.blog_index', page = next_page)}}">{{next_page}}</a></li>
            {% endif %}
            <li class="page-item">
                <a class="page-link" href="{{url_for('admin.blog_index', page = total_pages)}}" aria-label="Last">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<!-- 生成封面上传Modal -->
{% for post in posts %}
<div class="modal fade" id="cover-modal-{{post.id}}" tabindex="-1" aria-labelledby="coverModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="coverModalLabel">上传{{post.title}}的封面</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{url_for('admin.blog_cover',post_id = post.id)}}" method="POST"
                    enctype="multipart/form-data">
                    <input type="file" class="form-control" name="cover" accept=".jpg, .jpeg, .png" required>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <button type="submit" class="btn btn-primary mt-3">上传</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}