<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Pyblog{% endblock %}</title>
    <!--引入天气图标-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/qweather-icons.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pace.css') }}">
    <!-- 引入 Bootstrap CSS -->
    {{ bootstrap.load_css() }}
    {{ dropzone.load_css() }}
    {% block head %}{% endblock %}
</head>

<body>
    <!-- 导航栏 -->
    {% include "layout/nav.html" %}
    {% from 'bootstrap5/utils.html' import render_messages %}
    {{ render_messages(container=True,dismissible=True,dismiss_animate=True) }}
    <!-- 主内容区域 -->
    <div class="container mt-4 pb-5">
        {% block content %}
        <p>Welcome to Flask App!</p>
        {% endblock %}
    </div>

    <!-- 页脚 -->
    {% include "layout/footer.html" %}

    <!-- 引入 Bootstrap JS 和依赖 -->
    {{bootstrap.load_js()}}
    {{ dropzone.load_js() }}
    {{ dropzone.config(DROPZONE_DEFAULT_MESSAGE="拖拽文件在此上传",DROPZONE_MAX_FILE_SIZE=25) }}
    <script src="{{ url_for('static', filename='js/pace.js') }}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>